.Image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 250px;
}
.Image-container {
  margin-right: 20px;
  border-radius: 10px;
}

.card-header {
  display: flex;
  margin-top: 40px;
}

.page-title {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #ff5b2e;
  font-size: 40px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btn {
  margin: 10px;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  padding: 18px 34px;
  border-radius: 28px;
  transition: color 0.7s;
  background-color: #ff5b2e;
  width: 150px;
}

.btn-text {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 17px;
}
.btn:hover {
  background-color: #2d3579;
}

.hearts {
  margin-left: 5px;
  font-size: 20px;
  padding-top: 5px;
  color: #e63946;
}

.Rating-wrapper {
  margin-top: 15px;
  padding-left: 10px;
  width: 250px;
  border-top: 3px solid #ff5b2e;
  border-bottom: 3px solid #ff5b2e;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #040f73;
  margin-right: 100px;
  margin-bottom: 30px;
}
.Rating-header {
  margin-bottom: 15px;
  font-size: 25px;
}

.Box {
  display: flex;
  justify-content: flex-start;
}

.box-text {
  display: flex;
  flex-direction: column;
  color: #040f73;
}

.title {
  font-size: 25px;
}
.subtitle {
  color: #424875;
  font-size: 16px;
}

.Form-wrapper {
  margin-top: 15px;
}

.Comment-wrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.Map-box {
  margin-top: 20px;
}

.Comment-header {
  color: #040f73;
  font-size: 30px;
  margin-bottom: 20px;
}

.CommentUser-name {
  color: #424875;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.CommentUser-text {
  color: #424875;
  font-size: 18px;
}

.Comment-message {
  margin-top: 20px;
  font-size: 20px;
  color: #ff5b2e;
}
