.Image-sector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.Image-card {
  width: 325px;
  height: 425px;
  border-radius: 10px;
}

.Image-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image-card-text {
  margin-top: 10px;
  color: #040f73;
  font-size: 25px;
}

.dex {
  text-decoration: none;
}
