.Button-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: 30px;
}

.Catalog-btn {
  margin: 10px;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  padding: 18px 45px;
  border-radius: 30px;
  transition: color 0.7s;
  background-color: transparent;
  border: 3px solid #040f73;
}

.Catalog-btn:hover {
  background-color: #ff5b2e;
  color: #fff;
  border: none;
}

.button-text {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #040f73;
  font-size: 18px;
}
