.Image {
  width: 300px;
  margin: 15px;
  border-radius: 2em;
}

.Title {
  font-size: 1.2em;
  text-align: center;
  color: #2f2fa2;
  padding: 20px 0px 5px 0px;
}

.Button {
  background: "#2F2FA2";
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #2f2fa2;
  border-radius: 3px;
}
