.home {
  background-image: url(../../images/vfa_dXe3S3Y);
  background-size: cover;
  background-position: center;
  background-position-y: 120%;
  min-height: 100vh;
  margin: 0;
}
.container {
  max-width: 980px;
  margin: 0, auto;
}

.MapContainer {
  display: flex;
  border: 5px solid;
  border-radius: 10px;
  height: 40vw;
  width: 60vw;
  max-width: 800px;
  max-height: 500px;
  margin-top: 250px;
}

.CatContainer {
  width: 200px;
}

img {
  width: 200px;
}
